<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>CATALOG</title>
		<link rel="shortcut icon" href="images/q1.jpg">

		<link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />

		
		<link href="css/style12.css" rel="stylesheet" />

		
	</head>

	
	<body ng-app="instantSearch" ng-controller="InstantSearchController" style="background-image:url('photos/llama1.jpg')">

			<div class="bar">
			
			<input type="text" ng-model="searchString" placeholder="Enter your search terms" />
			</div>

			<ul>
			
			<li ng-repeat="i in items | searchFor:searchString">
				<a href="{{i.url}}"><img ng-src="{{i.image}}" /></a>
				<p>{{i.title}}</p>
			</li>
			</ul>

		
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
			<script src="js/script12.js"></script><br><br>
			<button  class="btn btn-danger" ><a href="MERCHANDISE.html" style="text-decoration:none; color:black" >GO BACK</a>
                <span class="glyphicon glyphicon-ok"></span>
	</body>
</html>
